body{
  background-color: #090909;
}

.section{
  margin: 0 auto;
}

.section-motion{
  border-radius: 50%;
  background-color: #171717;
  --radius: 10rem;
  width: 10rem;
  height: 10rem;
  width: var(--radius);
  height: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* gap: 2rem; */
}
.section-motion__quadrant{
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.section-motion__quadrant button{
  width: 100%;
  border: none;
  background: none;
  color: #eee;
  border-radius: 50%;
}
.section-motion__quadrant button:hover{
  background-color: rgba(255,255,255,0.02);
}
.section-motion__quadrant button:focus{
  outline: none;
}
.section-motion__quadrant button:active{
  outline: none;
  border: 1px solid rgba(255,255,255,0.05);
}