
.app-root{
  margin-top: 5rem;
}

.remote-group{
  --remote-button-width: 100px;
  --remote-button-height: 100px;
  --margin-y: .2rem; 
  --margin-x: .2rem; 
  margin: auto;
  width: calc(3 * var(--remote-button-width) + 6 * var(--margin-x) + 5px);
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .remote-group{
    --remote-button-width: 120px;
    --remote-button-height: 120px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .remote-group{
    /* --remote-button-width: 100px; */
    /* --remote-button-height: 100px; */
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  .remote-group{
    /* --remote-button-width: 100px; */
    /* --remote-button-height: 100px; */
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .remote-group{
    --remote-button-width: 100px;
    --remote-button-height: 100px;
  }
}

.remote-group .remote-group-item{
  width: var(--remote-button-width);
  height: var(--remote-button-height);
  margin: var(--margin-y) var(--margin-x);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.remote-group .remote-group-item button{
  padding: 0;
}


.rotate-icon-180 .uk-icon{ 
  transform: rotate(180deg);
}