button{
  padding: 10px;
}
button.button{
  transition: all .3s;
}
button.button:hover{
  background-color: #eee;
  transition: all .3s;
}
.button-content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 2rem; */
}

.button-content-wrapper span{
  line-height: 1;
}

.button-content-text--small{
  font-size: .8rem;
  color: #999;
  margin-top: .3rem;
}




button.btn-red{
  background-color: #bd0000;
  color: white;
}
button.btn-red .button-content-text--small{
  color: #ccc;
}
button.btn-red:hover{
  background-color: #a00000;
  color: white;
}


button.btn-green{
  background-color: #005611;
  color: white;
}
button.btn-green .button-content-text--small{
  color: #ccc;
}
button.btn-green:hover{
  background-color: #00380b;
  color: white;
}

button.btn-yellow{
  background-color: #ffff51;
  color: #222;
}
button.btn-yellow .button-content-text--small{
  color: #ccc;
}
button.btn-yellow:hover{
  background-color: #c3c300;
  color: #222;
}

button.btn-blue{
  background-color: #0077ff;
  color: white;
}
button.btn-blue .button-content-text--small{
  color: #ccc;
}
button.btn-blue:hover{
  background-color: blue;
  color: white;
}

button.btn-number{
  background-color: #fff6ec;
  color: #222;
}
button.btn-number .button-content-text--small{
  color: #222;
}
button.btn-number:hover{
  background-color: #da7300;
  color: white;
}



button.btn-black{
  background-color: black;
  color: white;
}
button.btn-black .button-content-text--small{
  color: #999;
}
button.btn-black:hover{
  background-color: black;
  color: white;
}


button.btn-orange{
  background-color: #ca5d00;
  color: white;
}
button.btn-orange .button-content-text--small{
  color: #999;
}
button.btn-orange:hover{
  background-color: #944400;
  color: white;
}

.color-purple{
  color: #bd10bd;
}