<button mat-raised-button class="flex-verticaly-stretched"  (click)="this.onClickEvt.emit(buttonData.keyCode)">
  <div class="button-content-wrapper">

    <span class="{{buttonData.icon == '' ? 'invisible' : 'button-content-icon'}}" [style]="scaleStyle">
      <mat-icon [attr.aria-hidden]="buttonData.ariaHidden" [attr.aria-label]="buttonData.ariaLabel">
        {{buttonData.icon}}
      </mat-icon>
    </span>

    <span class="{{buttonData.icon == '' ? 'button-content-text' : 'button-content-text button-content-text--small'}}">
      {{buttonData.text}}
    </span>

  </div>
</button>
