<div class="sections-container">

  <div class="sections-container-divisions sections-container-divisions--content">
    <div class="section section-sliding section--config" id="config">
      Config
    </div>

    <div class="section section-sliding section--main" id="main">
      <app-main-controls class="buttons-container"></app-main-controls>
    </div>
    
    <div class="section section-sliding section--vol-chan" id="vol-chan">
      <app-channels-volume-controls class="buttons-container"></app-channels-volume-controls>
    </div>
    <div class="section--group">
      <div class="section section-sliding section--management" id="management">
        <app-management-controls class="buttons-container"></app-management-controls>
      </div>
      <div class="section section-sliding section--numbers" id="numbers">
        <app-numeric-controls class="buttons-container"></app-numeric-controls>
      </div>
      <div class="section section-sliding section--colors" id="colors">
        <app-colored-controls class="buttons-container"></app-colored-controls>
      </div>
    </div>
  </div>



  <div class="sections-container-divisions sections-container-divisions--menu">
    <div class="section--menu">
      <app-nav-link *ngFor="let link of links; let i = index" 
                    [linkData]="link" 
                    [isActive]="activeLink == i" 
                    (navSelectionEvt)="setActiveLink(i)"
                    class="nav-link-container">
      </app-nav-link>
    </div>
  </div>

</div>